.tenant-row-orange {
  background-color: #fff7e6;

  &:hover > td {
    background-color: #ffe7ba !important;
  }
}

.tenant-row-red {
  background-color: #fff1f0;

  &:hover > td {
    background-color: #ffd6d6 !important;
  }
}
